body{
    display: block;
    margin: 0 auto;
    border: 1px solid rgb(196, 195, 195);
    border-radius: 1%;
    padding: 1%;
    max-width: 50%;
    height: 480px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 }

  .Footer{
    font-size: 13px;
  }