body{
  padding: 1%;
  max-width: 60%;
  height: 450px;
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  /* background-image: url(/src/1540001.webp); */
}