

form{
   margin: 0 auto;
   display: block;
}
.input-search{
    width: 50%; 
    height: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn-search{
    background-color: whitesmoke;
    height: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn-search:hover{
    cursor: pointer;
}
.btn-current{
    background-color: wheat;
    height: 30px;
    margin: 0 0 0 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn-current:hover{
    cursor: pointer;
}