body{
    display: block;
    margin: 0 auto;
    border: 1px solid rgb(196, 195, 195);
    border-radius: 1%;
    padding: 1%;
    max-width: 50%;
    height: 480px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
form{
   margin: 10px auto;
   display: block;
}
.input-search{
    width: 65%; 
    height: 35px;
    border-radius: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn-search{
    background-color: whitesmoke;
    height: 35px;
    margin: 0 0 0 5px;
    border-radius: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn-search:hover{
    cursor: pointer;
    background-color: rgba(132, 132, 132, 0.673);
    color:white;
}
.btn-current{
    background-color: wheat;
    height: 35px;
    border-radius: 5px;
    margin: 0 0 0 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn-current:hover{
    cursor: pointer;
}