.Search{
    background-image: url(/src/back-LAPTOP-Mytsianka.jpg); 
    background-color: transparent;
    background-size: cover;
    background-position: center; 
}


form{
   margin: 10px auto;
   display: block;
}
.input-search{
    width: 55%; 
    height: 35px;
    border-radius: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn-search{
    background-color: whitesmoke;
    height: 35px;
    margin: 0 0 0 5px;
    border-radius: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn-search:hover{
    cursor: pointer;
}
.btn-current{
    background-color: wheat;
    height: 35px;
    border-radius: 5px;
    margin: 0 0 0 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn-current:hover{
    cursor: pointer;
}