
.col{
    border-left: 2px solid rgb(196, 195, 195);
    text-align: center;
}
.col:hover{
    background-color: rgba(196, 195, 195, 0.179);
}
.forecast-temp{
    font-size: 14px;
}
.night{
    color: rgba(0, 0, 0, 0.695);
}